@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #F3F3F3;
}
.loading div{
  animation: loadingAnimation 1s ease-in-out infinite;
}
@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(360deg);
  }
}
span:has(a.active){
  background: #000;
  color: white;
}
.hoverred::before {
  content: "";
  
  position: absolute;
  left: 0;
  bottom: 0%;
  background: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255,255,255,1)); 
  height: 20%;
  width: 100%;
}
.hoverred span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  z-index: -1;
  width: 100%;
  transition: ;
}
