@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}
.loading div{
  animation: loadingAnimation 1s ease-in-out infinite;
}
@keyframes loadingAnimation {
  0% {
    transform: rotate(0deg);
  }100% {
    transform: rotate(360deg);
  }
}